<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div class="sidebar" th:fragment="sidebar(activeMenu)">
    <h2>Clo-ver Admin</h2>
    <ul>
        <li><a th:classappend="${activeMenu == 'home'} ? 'active'" th:href="@{/}">대시보드 홈</a></li>
        <li><a th:classappend="${activeMenu == 'community'} ? 'active'" th:href="@{/communities}">커뮤니티 글 관리</a></li>
        <li><a th:classappend="${activeMenu == 'report'} ? 'active'" th:href="@{/reports}">신고 내역 관리</a></li>
        <li><a th:classappend="${activeMenu == 'approval'} ? 'active'" th:href="@{/approvals}">관리자 계정 관리</a></li>
    </ul>
</div>

</html>